/*
Custom CSS overrides specific to this blog
*/

span.post-separator hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 1px solid #ccc;
}

span.post-title a {
  font-size: 2em;
}

span.post-excerpt p {
margin: 20px 20px;
}

.container .jumbotron {
text-align: center;
border: 1px solid;
}

.extra-information {
text-align: center;
border: 1px solid;
}
